<h2> Encerrar Ordem de Serviço: <%= @service_order.code %></h2>

<% if !flash[:service_order_errors].nil? %>
  <p> Verifique os erros abaixo: </p>
  <ul>
    <% flash[:service_order_errors].each do | msg |%>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@service_order, url: service_orders_deliver_index_path(id: @service_order.id), method: :post) do |f| %>
  <div class="mb-3">
    <%= f.label :delivery_description %>
    <%= f.text_field :delivery_description %>
  </div>
  <div class="mb-3">
    <%= f.submit 'Encerrar' %>
  </div>
<% end %>
