<h2> <%=TransportModel.model_name.human%></h2>
<nav>
  <% if current_user.admin? %>
    <%= link_to 'Cadastrar novo modelo de transporte', new_transport_model_path %>
  <% end %>
</nav>

<% if @transport_models.any? %>
  <table>
    <thead>
      <tr>
        <th><%= TransportModel.model_name.human %></th>
        <th>Intervalo de Distância aceitável</th>
        <th>Intervalo de Peso suportável</th>
        <th><%= TransportModel.human_attribute_name(:fixed_rate)%></th>
        <th><%= TransportModel.human_attribute_name(:status)%></th>
      </tr>
    </thead>
    <tbody>
      <% @transport_models.each do | tm | %>
      <tr>
        <td><%= tm.name %> </td>
        <td> <%= tm.minimum_distance %> - <%= tm.maximum_distance %>km</td>
        <td> <%= tm.minimum_weight %> - <%= tm.maximum_weight %>kg</td>
        <td> <%= number_to_currency(tm.fixed_rate, unit: "R$", separator: ",") %></td>
        <td> <%= I18n.t(tm.status) %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nao existem modelos de transporte cadastrados.</p>
<% end %>