<h2> <%=TransportModel.model_name.human%></h2>
<nav>
  <% if current_user.admin? %>
    <%= link_to 'Cadastrar novo modelo de transporte', new_transport_model_path %>
  <% end %>
</nav>

<% if @transport_models.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= TransportModel.model_name.human %></th>
        <th><%= TransportModel.human_attribute_name(:fixed_rate)%></th>
        <th><%= TransportModel.human_attribute_name(:status)%></th>
      </tr>
    </thead>
    <tbody>
      <% @transport_models.each do | tm | %>
      <tr>
        <td><%= link_to tm.name, tm %> </td>
        <td> <%= number_to_currency(tm.fixed_rate, unit: "R$", separator: ",") %></td>
        <% if current_user.admin? %>
          <td> <%= button_to I18n.t(tm.status), change_status_transport_model_path(tm.id), { method: 'patch', class:"btn btn-dark" } %> </td>
          <td> <%= link_to 'Editar', edit_transport_model_path(tm.id)%> </td>
        <% else %>
          <td> <%= I18n.t(tm.status) %> </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>Nao existem modelos de transporte cadastrados.</p>
<% end %>