<h2> <%= TransportModel.model_name.human %>: <%=@transport_model.name%></h2>

<div>
  <dl>
    <dt> Intervalo de Distância aceitável:</dt>
    <dd> <%= @transport_model.minimum_distance %> - <%= @transport_model.maximum_distance %>km</dd>
    <dt> Intervalo de Peso suportável:</dt>
    <dd> <%= @transport_model.minimum_weight %> - <%= @transport_model.maximum_weight %>kg</dd>
    <dt> <%= TransportModel.human_attribute_name(:fixed_rate)%>:</dt>
    <dd> <%= number_to_currency(@transport_model.fixed_rate, unit: "R$", separator: ",") %></dd>
    <dt> <%= TransportModel.human_attribute_name(:status)%>:</dt>
    <dd><%= I18n.t(@transport_model.status) %></dd>
  </dl>
</div>

<h3>Taxa de Distância</h3>

<% if !flash[:price_by_distance_errors].nil? %>
  <p> Verifique os erros abaixo: </p>
  <ul>
    <% flash[:price_by_distance_errors].each do | msg |%>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<div class="price_by_distance" id="form">
  <% if current_user.admin? %>
    <%= form_with(model: @price_by_distance) do | pd |%>
      <%= pd.hidden_field :transport_model_id, value: @transport_model.id, readonly: true %>
      <div>
        <%= pd.label :start_range %>
        <%= pd.number_field :start_range, required: true %>
      </div>
      <div>
        <%= pd.label :end_range %>
        <%= pd.number_field :end_range, required: true %>
      </div>
      <div>
        <%= pd.label :distance_tax%>
        <%= pd.number_field :distance_tax, step: 0.10, required: true %>
      </div>
      <div>
        <%= pd.submit 'Cadastrar Taxa por Distância'%>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <% if @price_by_distances.any? %>
    <table>
      <thead>
        <tr>
          <th> <%= PriceByDistance.human_attribute_name(:start_range)%></th>
          <th><%= PriceByDistance.human_attribute_name(:end_range)%></th>
          <th><%= PriceByDistance.human_attribute_name(:distance_tax)%></th>
        </tr>
      </thead>
      <tbody>
        <% @price_by_distances.each do | price_by_distance | %>
        <tr>
          <td><%= price_by_distance.start_range %> km</td>
          <td><%= price_by_distance.end_range %> km</td>
          <td>  <%=  number_to_currency(price_by_distance.distance_tax, unit: "R$", separator: ",")%> </td>
          <% if current_user.admin? %>
            <td> <%= link_to 'Editar', edit_price_by_distance_path(price_by_distance) %> </td>
            <td> <%= button_to 'Remover', price_by_distance_path(price_by_distance), method: :delete %> </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nao existem preços por distância cadastrados.</p>
  <% end %>
</div>

<h3>Preço por Peso</h3>

<% if !flash[:price_by_weight_errors].nil? %>
  <p> Verifique os erros abaixo: </p>
  <ul>
    <% flash[:price_by_weight_errors].each do | msg |%>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<div class="price_by_weight" id="form">
  <% if current_user.admin? %>
    <%= form_with(model: @price_by_weight) do | pw |%>
      <%= pw.hidden_field :transport_model_id, value: @transport_model.id, readonly: true %>
      <div>
        <%= pw.label :start_range %>
        <%= pw.number_field :start_range%>
      </div>
      <div>
        <%= pw.label :end_range %>
        <%= pw.number_field :end_range %>
      </div>
      <div>
        <%= pw.label :price_for_kg%>
        <%= pw.number_field :price_for_kg, step: 0.10 %>
      </div>
      <div>
        <%= pw.submit 'Cadastrar Preço por Peso'%>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <% if @price_by_weights.any? %>
    <table>
      <thead>
        <tr>
          <th> <%= PriceByWeight.human_attribute_name(:start_range)%></th>
          <th><%= PriceByWeight.human_attribute_name(:end_range)%></th>
          <th><%= PriceByWeight.human_attribute_name(:price_for_kg)%></th>
        </tr>
      </thead>
      <tbody>
        <% @price_by_weights.each do | price_by_wight | %>
        <tr>
          <td><%= price_by_wight.start_range %> km</td>
          <td><%= price_by_wight.end_range %> km</td>
          <td>  <%=  number_to_currency(price_by_wight.price_for_kg, unit: "R$", separator: ",")%> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nao existem preços por peso cadastrados.</p>
  <% end %>
</div>

<h3>Prazo Estimado</h3>


<% if !flash[:delivery_time_table_errors].nil? %>
  <p> Verifique os erros abaixo: </p>
  <ul>
    <% flash[:delivery_time_table_errors].each do | msg |%>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>


<div class="delivery_time_table" id="form">
  <% if current_user.admin? %>
    <%= form_with(model: @delivery_time_table, url: delivery_time_table_index_path) do | dt |%>
      <%= dt.hidden_field :transport_model_id, value: @transport_model.id, readonly: true %>
      <div>
        <%= dt.label :start_range %>
        <%= dt.number_field :start_range%>
      </div>
      <div>
        <%= dt.label :end_range %>
        <%= dt.number_field :end_range %>
      </div>
      <div>
        <%= dt.label :delivery_time%>
        <%= dt.number_field :delivery_time %>
      </div>
      <div>
        <%= dt.submit "Cadastrar #{DeliveryTimeTable.human_attribute_name(:delivery_time)}"%>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <% if @delivery_times_table.any? %>
    <table>
      <thead>
        <tr>
          <th> <%= DeliveryTimeTable.human_attribute_name(:start_range)%></th>
          <th><%= DeliveryTimeTable.human_attribute_name(:end_range)%></th>
          <th><%= DeliveryTimeTable.human_attribute_name(:delivery_time)%></th>
        </tr>
      </thead>
      <tbody>
        <% @delivery_times_table.each do | delivery_time_row | %>
        <tr>
          <td><%= delivery_time_row.start_range %> km</td>
          <td><%= delivery_time_row.end_range %> km</td>
          <td><%= delivery_time_row.delivery_time %> h </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nao existem estimativa de prazos cadastrados.</p>
  <% end %>
</div>