<h2> <%= TransportModel.model_name.human %>: <%=@transport_model.name%></h2>

<div>
  <dl>
    <dt> Intervalo de Distância aceitável:</dt>
    <dd> <%= @transport_model.minimum_distance %> - <%= @transport_model.maximum_distance %>km</dd>
    <dt> Intervalo de Peso suportável:</dt>
    <dd> <%= @transport_model.minimum_weight %> - <%= @transport_model.maximum_weight %>kg</dd>
    <dt> <%= TransportModel.human_attribute_name(:fixed_rate)%>:</dt>
    <dd> <%= number_to_currency(@transport_model.fixed_rate, unit: "R$", separator: ",") %></dd>
    <dt> <%= TransportModel.human_attribute_name(:status)%>:</dt>
    <dd><%= I18n.t(@transport_model.status) %></dd>
  </dl>
</div>

<h3>Taxa de Distância</h3>
<div class="price_by_distance" id="form">
  <% if current_user.admin? %>
    <%= form_with(model: @price_by_distance, url:transport_model_price_by_distances_path(@transport_model.id)) do | pd |%>
      <div>
        <%= pd.label :start_range %>
        <%= pd.number_field :start_range%>
      </div>
      <div>
        <%= pd.label :end_range %>
        <%= pd.number_field :end_range %>
      </div>
      <div>
        <%= pd.label :distance_tax%>
        <%= pd.number_field :distance_tax, step: 0.10 %>
      </div>
      <div>
        <%= pd.submit 'Cadastrar Taxa por Distância'%>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <% if @price_by_distances.any? %>
    <table>
      <thead>
        <tr>
          <th> <%= PriceByDistance.human_attribute_name(:start_range)%></th>
          <th><%= PriceByDistance.human_attribute_name(:end_range)%></th>
          <th><%= PriceByDistance.human_attribute_name(:distance_tax)%></th>
        </tr>
      </thead>
      <tbody>
        <% @price_by_distances.each do | price_by_distance | %>
        <tr>
          <td><%= price_by_distance.start_range %> km</td>
          <td><%= price_by_distance.end_range %> km</td>
          <td>  <%=  number_to_currency(price_by_distance.distance_tax, unit: "R$", separator: ",")%> </td>
          <% if current_user.admin? %>
            <td> <%= link_to 'Editar', edit_transport_model_price_by_distance_path(price_by_distance.id) %> </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nao existem preços por distância cadastrados.</p>
  <% end %>
</div>

<div class="price_by_weight" id="form">
  <h3>Preço por Peso</h3>
  <% if current_user.admin? %>
    <%= form_with(model: @price_by_weight, url:transport_model_price_by_weights_path(@transport_model.id)) do | pw |%>
      <div>
        <%= pw.label :start_range %>
        <%= pw.number_field :start_range%>
      </div>
      <div>
        <%= pw.label :end_range %>
        <%= pw.number_field :end_range %>
      </div>
      <div>
        <%= pw.label :price_for_kg%>
        <%= pw.number_field :price_for_kg, step: 0.10 %>
      </div>
      <div>
        <%= pw.submit 'Cadastrar Preço por Peso'%>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <% if @price_by_weights.any? %>
    <table>
      <thead>
        <tr>
          <th> <%= PriceByWeight.human_attribute_name(:start_range)%></th>
          <th><%= PriceByWeight.human_attribute_name(:end_range)%></th>
          <th><%= PriceByWeight.human_attribute_name(:price_for_kg)%></th>
        </tr>
      </thead>
      <tbody>
        <% @price_by_weights.each do | price_by_wight | %>
        <tr>
          <td><%= price_by_wight.start_range %> km</td>
          <td><%= price_by_wight.end_range %> km</td>
          <td>  <%=  number_to_currency(price_by_wight.price_for_kg, unit: "R$", separator: ",")%> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nao existem preços por peso cadastrados.</p>
  <% end %>
</div>

<h3>Prazo Estimado</h3>

<div class="delivery_time_table" id="form">
  <% if current_user.admin? %>
    <%= form_with(model: @delivery_time_table, url:transport_model_delivery_time_table_index_path(@transport_model.id)) do | dt |%>
      <div>
        <%= dt.label :start_range %>
        <%= dt.number_field :start_range%>
      </div>
      <div>
        <%= dt.label :end_range %>
        <%= dt.number_field :end_range %>
      </div>
      <div>
        <%= dt.label :delivery_time%>
        <%= dt.number_field :delivery_time %>
      </div>
      <div>
        <%= dt.submit 'Cadastrar Prazo Estimado'%>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <% if @delivery_times_table.any? %>
    <table>
      <thead>
        <tr>
          <th> <%= DeliveryTimeTable.human_attribute_name(:start_range)%></th>
          <th><%= DeliveryTimeTable.human_attribute_name(:end_range)%></th>
          <th><%= DeliveryTimeTable.human_attribute_name(:delivery_time)%></th>
        </tr>
      </thead>
      <tbody>
        <% @delivery_times_table.each do | delivery_time_row | %>
        <tr>
          <td><%= delivery_time_row.start_range %> km</td>
          <td><%= delivery_time_row.end_range %> km</td>
          <td><%= delivery_time_row.delivery_time %> h </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nao existem estimativa de prazos cadastrados.</p>
  <% end %>
</div>