<h2> <%= TransportModel.model_name.human %>: <%=@transport_model.name%></h2>

<div>
  <dl>
    <dt> Intervalo de Distância aceitável:</dt>
    <dd> <%= @transport_model.minimum_distance %> - <%= @transport_model.maximum_distance %>km</dd>
    <dt> Intervalo de Peso suportável:</dt>
    <dd> <%= @transport_model.minimum_weight %> - <%= @transport_model.maximum_weight %>kg</dd>
    <dt> <%= TransportModel.human_attribute_name(:fixed_rate)%>:</dt>
    <dd> <%= number_to_currency(@transport_model.fixed_rate, unit: "R$", separator: ",") %></dd>
    <dt> <%= TransportModel.human_attribute_name(:status)%>:</dt>
    <dd><%= I18n.t(@transport_model.status) %></dd>
  </dl>
</div>

<div>
  <% if @price_by_distances.any? %>
    <table>
      <thead>
        <tr>
          <th> <%= PriceByDistance.human_attribute_name(:start_range)%></th>
          <th><%= PriceByDistance.human_attribute_name(:end_range)%></th>
          <th><%= PriceByDistance.human_attribute_name(:price_for_km)%></th>
        </tr>
      </thead>
      <tbody>
        <% @price_by_distances.each do | price_by_distance | %>
        <tr>
          <td><%= price_by_distance.start_range %> km</td>
          <td><%= price_by_distance.end_range %> km</td>
          <td>  <%=  number_to_currency(price_by_distance.price_for_km, unit: "R$", separator: ",")%> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nao existem preços por distância cadastrados.</p>
  <% end %>
</div>