<h2> <%=ServiceOrder.model_name.human%></h2>

<nav>
  <% if current_user.admin? %>
    <%= link_to 'Cadastrar nova ordem de serviço', new_service_order_path %>
  <% end %>
  <% if current_user.regular_user? %>
    <%= link_to 'Pendentes', service_orders_process_index_path %> |
    <%= link_to 'Processadas', service_orders_deliver_index_path %>
  <% end %>
</nav>

<%= form_with(url: service_orders_path, method: :get) do | f |%>
  <%= f.label :query,  'Buscar Ordem de Serviço' %>
  <%= f.text_field :query %>
  <%= f.submit 'Buscar' %>
<% end %>

<% if @service_orders.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= ServiceOrder.human_attribute_name(:code)%> </th>
        <th><%= ServiceOrder.human_attribute_name(:pickup_address)%><br>(CEP)<br></th>
        <th><%= Customer.human_attribute_name(:customer_address)%></th>
        <th><%= ServiceOrder.human_attribute_name(:delivery_distance)%></th>
        <th><%= ServiceOrder.human_attribute_name(:service_order_status)%></th>
        <% if current_user.regular_user? %>
          <th>Ações</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @service_orders.each do | service_order | %>
      <tr>
        <td> <%= link_to service_order.code, service_order %></td>
        <td> <%= service_order.pickup_address %><br>(<%= cep_formatted(service_order.pickup_cep) %>)<br></td>
        <td> <%= service_order.customer.customer_address %><br>(<%= cep_formatted(service_order.customer.customer_cep) %>)<br></td>
        <td> <%= number_with_precision(service_order.delivery_distance, precision: 2, separator: ',') %> km</td>
        <td> <%= I18n.t(service_order.service_order_status) %></td>
        <% if current_user.regular_user? %>
          <% if service_order.pending? %>
            <td> <%= link_to 'Alocar Modalidade de Transporte', edit_service_orders_process_path(service_order) %></td>
          <% elsif service_order.processed? %>
            <td> <%= link_to 'Encerrar', edit_service_orders_deliver_path(service_order) %></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>Nao existem ordens de serviço cadastradas.</p>
<% end %>