
<%= form_with(model: @vehicle) do | v |%>
  <div>
    <%= v.label :identification_plate %>
    <%= v.text_field :identification_plate%>
  </div>
  <div>
    <%= v.label :vehicle_brand %>
    <%= v.text_field :vehicle_brand%>
  </div>
  <div>
    <%= v.label :vehicle_type %>
    <%= v.text_field :vehicle_type%>
  </div>
  <div>
    <%= v.label :fabrication_year %>
    <%= v.number_field :fabrication_year%>
  </div>
  <div>
    <%= v.label :max_load_capacity %>
    <%= v.number_field :max_load_capacity%>
  </div>
  <div>
    <%= v.label :transport_model_id %>
    <%= v.collection_select :transport_model_id, @transport_models, :id, :name %>
  </div>
  <div>
    <%= v.submit 'Cadastrar'%>
  </div>
<% end %>