<h2> <%=Vehicle.model_name.human(:count => 2)%></h2>
<nav>
  <% if current_user.admin? %>
    <%= link_to 'Cadastrar novo veículo', new_vehicle_path %>
  <% end %>
</nav>

<% if @vehicles.any? %>
  <table>
    <thead>
      <tr>
        <th><%= Vehicle.human_attribute_name(:identification_plate)%></th>
        <th><%= Vehicle.human_attribute_name(:vehicle_brand)%></th>
        <th><%= Vehicle.human_attribute_name(:vehicle_type)%></th>
        <th><%= Vehicle.human_attribute_name(:fabrication_year)%></th>
        <th><%= Vehicle.human_attribute_name(:max_load_capacity)%></th>
        <th><%= TransportModel.model_name.human %></th>
        <th><%= Vehicle.human_attribute_name(:status)%></th>
        <th> Ações </th>
      </tr>
    </thead>
    <tbody>
      <% @vehicles.each do | vehicle | %>
        <tr>
          <td><%= vehicle.identification_plate %> </td>
          <td><%= vehicle.vehicle_brand %> </td>
          <td><%= vehicle.vehicle_type %> </td>
          <td><%= vehicle.fabrication_year %> </td>
          <td><%= vehicle.max_load_capacity %>kg</td>
          <td><%= vehicle.transport_model.name %> </td>
          <td><%= I18n.t(vehicle.status) %> </td>
          <% if current_user.admin? %>
            <% array_status = changeable_status(vehicle.status) %>
            <% array_status.each do | status | %>
              <td> <%= button_to I18n.t(status), vehicle_path(vehicle.id, vehicle: {status:status}), method: :patch%> </td>
            <% end %>
            <td> <%= link_to 'Editar', edit_vehicle_path(vehicle.id)%> </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nao existem veículos cadastrados.</p>
<% end %>
