<h2> <%=Vehicle.model_name.human(:count => 2)%></h2>
<nav>
  <% if current_user.admin? %>
    <%= link_to 'Cadastrar novo veículo', new_vehicle_path %>
  <% end %>
</nav>

<% if @vehicles.any? %>
  <table>
    <thead>
      <tr>
        <th><%= Vehicle.human_attribute_name(:identification_plate)%></th>
        <th><%= Vehicle.human_attribute_name(:vehicle_brand)%></th>
        <th><%= Vehicle.human_attribute_name(:vehicle_type)%></th>
        <th><%= Vehicle.human_attribute_name(:fabrication_year)%></th>
        <th><%= Vehicle.human_attribute_name(:max_load_capacity)%></th>
        <th><%= TransportModel.model_name.human %></th>
        <th><%= Vehicle.human_attribute_name(:status)%></th>
      </tr>
    </thead>
    <tbody>
      <% @vehicles.each do | vehicles_in_same_status | %>
          <% vehicles_in_same_status.each do | v | %>
      <tr>
        <td><%= v.identification_plate %> </td>
        <td><%= v.vehicle_brand %> </td>
        <td><%= v.vehicle_type %> </td>
        <td><%= v.fabrication_year %> </td>
        <td><%= v.max_load_capacity %>kg</td>
        <td><%= v.transport_model.name %> </td>
        <td><%= I18n.t(v.status) %> </td>
      </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nao existem veículos cadastrados.</p>
<% end %>