<h2> <%=Vehicle.model_name.human(:count => 2)%></h2>

<p><%= @vehicles.count %> <%= Vehicle.model_name.human(count:@vehicles.count).downcase %> <%= t(:found, count: @vehicles.count) %></p>
<% if @vehicles.any? %>
  <table>
    <thead>
      <tr>
        <th><%= Vehicle.human_attribute_name(:identification_plate)%></th>
        <th><%= Vehicle.human_attribute_name(:vehicle_brand)%></th>
        <th><%= Vehicle.human_attribute_name(:vehicle_type)%></th>
        <th><%= Vehicle.human_attribute_name(:fabrication_year)%></th>
        <th><%= Vehicle.human_attribute_name(:max_load_capacity)%></th>
        <th><%= TransportModel.model_name.human %></th>
        <th><%= Vehicle.human_attribute_name(:status)%></th>
      </tr>
    </thead>
    <tbody>
      <% @vehicles.each do | v | %>
      <tr>
        <td><%= v.identification_plate %> </td>
        <td><%= v.vehicle_brand %> </td>
        <td><%= v.vehicle_type %> </td>
        <td><%= v.fabrication_year %> </td>
        <td><%= v.max_load_capacity %>kg</td>
        <td><%= v.transport_model.name %> </td>
        <td><%= I18n.t(v.status) %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Sem resultado para a busca.</p>
<% end %>